.header{                    /*Setting desktop specific header*/
    font-size: 4pc;
}

img.bg{                     /*Setting desktop specific background image settings*/
    z-index: -2;
}

.extrapadding{              /*Extra padding is required by some objects in desktop version*/
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}

div.intro{                  /*To hide any overflow in the divs*/
    overflow: hidden;
}

.bordered{                  /*Some borders!*/
    border: 2px lightgray ridge;
}

.copybutton{                /*settings for the copy button (In footer of the desktop pages)*/
    border: none;
    max-height: 10px;
}

.donateandsignup{           /*This is used for the div in home page*/
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

input[type=submit], input[type=button]{     /*Some configurations for submit and other form buttons*/
    font-size: 24px;
}