html{  /* This style 'filter' has been made for the webpage to adjust with the mobile's screen size */
    font-size: 3pc;
}

.header{    /* We need extra size for the header */
    font-size: 5pc;
}

button{     /* Adaptation for linking buttons */
    font-style: oblique;
    height: 6pc;
}

img{        /* Some basic rule to prevent overflowing */
   max-width: 100%;
}

img.bg{     /* To stretch image the whole width and take it 1 layer behind */
    z-index: -1;
    min-width: 100%;
} 

.extrapadding{  /*Some extra padding based for mobile's use*/
    padding-right: 50px;
    padding-bottom: 20px;
}

input[type=submit], input[type=button]{     /*Settings for form buttons*/
    font-style: oblique;
    height: 6pc;
}

input, textarea{                    /*Required otherwise the browser resets it's size*/  
    font-size: inherit;
}

input[type=radio], input[type=checkbox]{    /*To increase the size of the checkbox(It is very small otherwise)*/
    transform: scale(2);
}