.slideshow-container {      /*Some settings for the slideshow container*/
    max-width: 100%;
    position: relative;
    margin: auto;
}
  
.mySlides {                 /* Hide the slides by default */
    display: none;
    background-color: gray;
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}
  
.prev, .next {              /* Next & previous buttons */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {                     /* Position the "next button" to the right */
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {  /* On hover, add a black background color with a little bit see-through */
    background-color: rgba(0,0,0,0.8);    
}

.slideshow-image{           /*Dim the slides a bit and standardize it's height*/
    filter: brightness(50%);
    height: 600px;
}